<div class="profile-container">
  <div class="Title">
      <h2>Tabi Picとは</h2>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Tabi Picは世界各国の写真を投稿できるウェブサイトです。</br>
      お気に入りの写真を投稿したり、他の人が投稿している写真をみて行ってみたいところを探したり。</br>
      あなたの旅を素敵にするお手伝いをします。
    </div>
  </div>
</div>
