// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masonry-block{
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #d3d3d3;
  text-align: center;
  width: 30%;
  padding-top: 20px;
}

.profile{
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.img-circle{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-position: center center;
}